.ArtCard__details {
	font-size: 14px;
	margin: 0;
}

.ArtCard__card p {
	margin: 0;
	margin-top: 5px;
}

#button {
	padding: 2px 7px;
}

@media screen and (min-width: 850px) {
	
	.ArtCard__card {
		width: 47%;
		height: 65px;
	}
}
