#nav__main-block {
	display: flex;
	justify-content: space-evenly;
	padding: 0.5vh 0.5vw;
	align-items: center;
	border: 0.5px dashed rgb(0, 255, 191);
	flex-grow: 3;
	flex-wrap: wrap;
	gap: 1vh;
}

#nav__header h2 {
	text-decoration: none;
	margin: 0;
	padding: 0.5vh 0.5vw;
	text-align: center;
}

#nav__links-block {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
	flex-grow: 3;
}

.nav__link {
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	height: 10vh;
	width: fit-content;
	margin: 0;
	padding: 0.5vh 0.5vw;
	align-items: center;
	border: 0.5px solid rgb(209, 209, 209);
	flex-grow: 1;
}

.nav__link a {
	text-decoration: none;
	text-align: center;
	margin: 0;
	padding: 0.5vh 0.5vw;
}
