.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	padding: 0.5vh 0.5vw;
}
.main-section {
    border: 0.5px dashed rgb(0, 255, 191);
    padding: 0.5vh 0.5vw;
    margin-top: 0.5vh;
}