body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	font-family: "helvetica";
	color: #0e466b
}

.main-section {
    padding: 20px;
}

h1 {
	font-family: "Questrial";
	text-shadow: #ff7ad6 10px;
}
h3 {
	font-family: "Questrial";
	margin: 0;
}
.no-border--rounded {
	border: none;
	border-radius: 2px;
}

.button-select {
	border: 1px solid;
	border-radius: 2px;
}

.button-select:hover {
	cursor: pointer;
    color: #d9ffc8;
}

.button:hover {
    color: #d9ffc8;
}

.text--pink {
	color: #26a8ff8f;
}

.text--white {
	color: #fdfff2;
}

.text--purple {
	color: #26a8ff;
	font-family: "Questrial", sans-serif;
}

.background--white {
	background-color: #ffffff;
}

.background--purple {
	background-color: #5f3a41;
}

.background--pink {
	background-color: #ffffff;
}

textarea {
	border: none;
	background-color: #ffffff;
	border-radius: 2px;
}
